*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    background-color: rgb(26, 31, 41);
    text-align: center;
    border-radius: 50px;
    font-size: 50px;
    padding: 20px;
}
.title h1{
    background-color: #fff;
    border-radius: 25px;
}
header{
    background-color: rgb(20, 190, 154);
    height: 100vh;
}
.p{
    position: absolute;
    top: 35%;
    right: 21%;
    transform: translate(-50%,-50%); 
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
}
.language ul li{
    display: inline-block;
    width: 200px;
    height: auto;
    margin-top: 100px;
    margin-left: 90px;
}
.java{
    position: absolute;
    margin-top: 12px;
    margin-left: 65px;
    color: #fff;
}
.hmtl{
    position: absolute;
    margin-top: 12px;
    margin-left: 75px;
    color: #fff;
}
.css{
    position: absolute;
    margin-top: 12px;
    margin-left: 80px;
    color: #fff;
}
.git{
    position: absolute;
    margin-top: 12px;
    margin-left: 90px;
    color: #fff;
}